<footer id="blog-footer">
  <div class="container">
    <div class="row">
      <div id="blog-footer-contents" class="col-lg-7 offset-lg-4 text-center">
        <p class="text-muted"><small>Built with blood, sweat, <a href="https://pages.github.com">GitHub Pages</a>, and <a href="https://v4-alpha.getbootstrap.com">Bootstrap.</a></small></p>
        <p class="text-muted"><small><a href="https://twitter.com/jepersson">Twitter</a> | 
          <a href="https://github.com/jepersson">Github</a> | 
          <a href="https://jp.linkedin.com/in/jericpersson">LinkedIn</a></small></p>
        <p class="text-muted"><small><a class="hidden-lg-up" href="#top">Back to top</a></small></p>
      </div>
    </div>
  </div>
</footer>
