<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}style.css">

  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div id="blog-header" class="col-lg-4 text-center text-lg-right">
          {% include header.html %}

        </div>
        
        <div role="main" class="col-lg-7 offset-lg-4">
          <article class="post">
            <h1 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
            {{ content }}
          </article>

          {% include footer.html %}

        </div>
      </div>
    </div>
  </body>
</html>
