<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    {% include stylesheets.html %}

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="blog-header" class="col-lg-4 text-center text-lg-right">
          {% include header.html %}

        </div>

        <div role="main" id="blog-content" class="col-lg-7 offset-lg-4">
          <article class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>
            {{ content }}
          </article>

        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
